# https://github.com/direnv/direnv/wiki

use flake

use_flake() {
  watch_file flake.nix
  watch_file flake.lock
  watch_file nix/shell.nix
  eval "$(nix print-dev-env --profile "$(direnv_layout_dir)/flake-profile")"
}

layout python3

eval "$shellHook"
