# General
*.dll
*.log
*.so
*.swp
export
img
tmp

# Nix
.direnv
.pre-commit-config.yaml
result
*.img*
*.qcow2

# Python
/*.py[cod]
/__pycache__
/.benchmark
/.coverage*
/.pytest_cache

# Node-Red
/.main.json.backup
/flow_backup.json

# Mkdocs
dist
docs/_*
site

# macOS
.DS_Store

# KiCad
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache*
*.net
*.dsn
*.ses

# Misc
template
TODOS.md
