[data-md-color-primary=rgb(4, 170, 109)] {
    --md-accent-fg-color:  #04AA6D;
    --md-primary-fg-color--dark:  #04AA6D;
    --md-primary-fg-color--light: #04AA6D;
    --md-primary-fg-color: #04AA6D;
    --md-typeset-a-color: #04AA6D;
}
